# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/FastlaneRunner

# Code Injection
injected_container.swift

# Environment variables
.env
.env.*

# SwiftUI Preview Content
Preview Content/

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDE
.idea/
*.swp
*.swo

# Raw Data files
/AnshinNavi/RawDatas/*
!AnshinNavi/RawDatas/*.py
!AnshinNavi/RawDatas/data_tools.py

# Project specific
*.generated.swift
*.xcconfig
