<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>安心ナビを使用するには位置情報を取得する必要があります。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>安心ナビを使用するには位置情報を取得する必要があります。</string>
</dict>
</plist>
